.content {
  min-height: calc(100vh - 44px);
}

.header {
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: #007bff;

  h2 {
    color: #fff;
  }
}

.show-weather {
  margin-top: 40px;
  text-align: left;

  img {
    margin-right: 10px;
  }

  table {
    width: 100%;
    border: 1px solid #ccc;

    tr {
      border-bottom: 1px solid #ccc;
    }

    td {
      padding: 5px 10px;

      &:first-child {
        border-right: 1px solid #ccc;
      }
    }
  }
}

.footer {
  padding: 10px 0;
  background-color: #999;
  color: #fff;
}
