body {
  min-width: 320px;
}

.content {
  min-height: calc(100vh - 74px);
}

.header {
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: #007bff;

  @media (max-width: 991px) {
    padding: 10px 0;
  }

  h2 {
    color: #fff;

    @media (max-width: 991px) {
      font-size: 24px;
    }
  }
}

.weather {
  position: relative;
  width: 100%;
}

.weather-loading {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .1s;
  background-image: url('../img/loading.gif');
  background-repeat: no-repeat;
  background-position: top center;

  &.weather-loading-visible {
    opacity: 1;
    visibility: visible;
  }
}

.city-name {
  font-weight: bold;
  font-size: 20px;
  color: #404040;

  @media (max-width: 991px) {
    text-align: center;
  }
}

.temp {
  font-size: 24px;

  img {
    margin-right: 10px;
  }

  @media (max-width: 991px) {
    text-align: center;
  }
}

.show-weather {
  margin-top: 40px;
  text-align: left;
}

.show-current-weather {

  table {
    width: 100%;
    border: 1px solid #ccc;

    tr {
      border-bottom: 1px solid #ccc;

      &:nth-child(odd) {
        td {
          background-color: #f1f1f1;
        }
      }
    }

    td {
      padding: 5px 10px;

      &:first-child {
        border-right: 1px solid #ccc;
      }
    }
  }
}

.weather-item {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;

  .weather-item-details {
    padding: 10px;
    background-color: #fff;
    text-align: left;
    font-size: 12px;
    transition: .3s;

    table {
      width: 100%;
    }

    td {
      width: 50%;
      padding: 5px;
    }
  }
}

.swiper-button {
  width: 30px;
  height: 30px;
  background-image: none;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    width: 20px;
    height: 20px;
    border: {
      top: 2px solid #f1f1f1;
      right: 2px solid #f1f1f1;
    }
    transition: .3s;
  }

  &:hover {
    &::before {
      border-color: #ccc;
    }
  }

  &.swiper-button-next {
    &::before {
      transform: rotate(45deg);
    }
  }

  &.swiper-button-prev {
    &::before {
      transform: rotate(-135deg);
    }
  }
}

.footer {
  margin-top: 30px;
  padding: 10px 0;
  background-color: #999;
  color: #fff;
}
